<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/minimalista.css">
	
	</head>
	<body style="position:static;background-color:rgba(0,0,0,1)">
	<div id="barra_de_titulo_sup">
		<a href="/index" id="titulo_portada"> PAGINA DE FOTOGRAFIA</a>
			<div class="menub_sup">
				
				<a href="/index/galerias/estatuas">estatuas</a>
				<a href="/index/galerias/comidas">comidas</a>
				<a href="/index/galerias/retratos">retratos</a>
				<a href="/index/galerias/paisajes">paisajes</a>
				<a href="/index/galerias/deportes">deportes</a>
				<a href="/index/galerias/musica">m&uacute;sica</a>

				<br>
				<div class="marca_sup"></div>
			</div>		
	</div>
	{%block contenido%}

	{%endblock%}

        <div id="mis_notas">
	<a>un tranquilo comienzo,sin apuros ni contratiempos por el momento.</a>
	<a>ultima actualizacion:</a>
	<a>24/08/14</a>
	</div>
	</body>
</html>
