<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/minimalista.css">
	
	</head>
	<body>
	<div id="barra_de_titulo_inf">
		<h2 style="padding-left:25px;"> PAGINA DE FOTOGRAFIA</h2>
		<div class="menub">
			<a href="/index/galerias">Galerias</a>
			<a href="javascript:void();">Sobre mi</a>
			<br>
			<div class="marca"></div>
		</div>

	</div>

	<div id="mis_notas">
		<a>un tranquilo comienzo,sin apuros ni contratiempos por el momento.
		<br>
		<a>actualizacion:
		<a>24/08/14
		<br>
		<a>trabajando el menu con marca dinamica..jeje
		<br>
		<a>ultima actualizacion:
		<a>01/09/14
	</div>
	</body>
</html>
